{% extends "tool/tool_base.html" %}
{% from '_macros.jinja2' import svg_icon %}
{#
    Separate template for the non-job queue export view because
    it uses standard form and file download instead of htmx.
#}
{% block tool_content %}
    <div class="mx-2 mx-lg-4 mt-5">
        <div class="d-flex justify-content-center mt-5">
            <div class="card">
                <div class="card-body">
                    <h1 class="fs-3">{{ title }} Organization Export</h1>
                    <form method="POST" action="{{ url_for(tool ~ '.' ~ 'export') }}">
                        <div class="list-group mt-4">
                            {% for data_type, dt_props in data_types.items()|sort %}
                                <label class="list-group-item list-group-item-action p-3">
                                    <input checked="" class="form-check-input" name="{{ data_type }}" type="checkbox">
                                    <span class="d-inline h5 mx-2">{{ svg_icon(data_type) }}</span><span>{{ dt_props.title }}</span>
                                </label>
                            {% endfor %}
                        </div>
                        <div class="d-grid my-4">
                            <button class="block btn btn-outline-danger"><span
                                    class="me-2">{{ svg_icon("download") }}</span><span>Export</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
