{% extends "admin/admin_base.html" %}
{% from "_macros.jinja2" import boolIcon -%}

{% block admin_content %}
    <div class="mx-auto py-3 px-3 px-xl-5 bg-white" style="border-radius: 6px;">
        <div class="d-flex justify-content-between px-2 py-3">
            <div class="flex-grow-1"><h1 class="fs-3">Manage OAuth</h1></div>
            <div>
                <button type="button"
                        class="btn btn-outline-danger"
                        hx-get="{{ url_for('admin.oauth_form') }}"
                        hx-target="body"
                        hx-swap="beforeend"
                >
                    {{ svg_icon("plus", size="1.2em") }} New
                </button>
            </div>
        </div>
        <div class="table-responsive-xxl">
            <table id="oauths-table" class="table table-hover align-middle">
                <thead>
                <tr>
                    <th class="d-none" scope="col">id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Org Type</th>
                    <th scope="col" class="text-center">Global App</th>
                    <th scope="col">Owner</th>
                    <th class="text-center" style="width: 30%" scope="col">Orgs</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for oauth in vm.rows %}
                    <tr>
                        <td class="d-none">{{ oauth.id }}</td>
                        <td>
                            <a href="#"
                               class="text-decoration-none"
                               hx-get="{{ url_for('admin.oauth_form', id=oauth.id) }}"
                               hx-target="body"
                               hx-swap="beforeend"
                            >
                                {{ oauth.name }}
                            </a>
                        </td>
                        <td>{{ oauth.org_type.name }}</td>
                        <td class="text-center">{{ boolIcon(oauth.is_global) }}</td>
                        <td>{{ oauth.user.email|default('-') }}</td>
                        <td class="text-center">{{ oauth.orgs|length }}</td>
                        <td class="d-flex justify-content-center">
                            {% if oauth.orgs|length == 0 -%}
                                <button
                                        class="btn btn-link text-decoration-none p-0"
                                        hx-confirm="Confirm OAuth Removal"
                                        hx-post="{{ url_for('admin.oauth_delete', id=oauth.id) }}"
                                        hx-swap="none">
                                    <span class="fs-6 pe-1">{{ svg_icon("trash3", size="1.2em") }}</span>
                                </button>
                            {% else -%}
                                <span class="fs-6 disabled text-muted pe-1">{{ svg_icon("trash3", size="1.2em") }}</span>
                            {% endif -%}
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock admin_content %}
