{% from "_macros.jinja2" import render_form_field, render_choices_field %}

<div hx-target="closest div" hx-swap="outerHTML">
   <h1 class="fs-6">{{ vm.op|title }} Role</h1>
    <form class="p-3"
          style="border: 1px solid #d1d0ce; border-radius: 8px;"
          hx-post="{{ url_for('admin.roles_' ~ vm.op) }}"
    >
        <div class="row g-3 align-items-end">
            {{ vm.form.csrf_token }}
            {{ vm.form.id() }}
            {{ render_form_field(vm.form.name, layout_cls="col-md-12") }}
            {{ render_choices_field(vm.form.users, layout_cls="col-md-12") }}
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-outline-danger">Save</button>
            <button type="button" class="btn btn-outline-secondary" _="on click trigger closeModal">Close</button>
        </div>
    </form>
</div>
