{% extends "security/sec_base.html" %}
{% from "_macros.jinja2" import render_form_field, render_field_errors %}

{% block auth_form %}

    <form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
        {{ change_password_form.hidden_tag() }}
        {{ render_form_field(change_password_form.password) }}
        {{ render_form_field(change_password_form.new_password) }}
        {{ render_form_field(change_password_form.new_password_confirm) }}
        <div class="mt-3">
            {{ change_password_form.submit(class="w-100 btn btn-danger")|safe }}
        </div>
    </form>

{% endblock %}

