{% extends "security/sec_base.html" %}
{% from "_macros.jinja2" import render_form_field, render_field_errors %}

{% block auth_form %}

    <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
        {{ login_user_form.hidden_tag() }}
        {{ render_form_field(login_user_form.email) }}
        {{ render_form_field(login_user_form.password) }}
        {{ render_field_errors(login_user_form.csrf_token) }}
        {{ login_user_form.submit(class="w-100 mt-3 btn btn-danger")|safe }}
    </form>

{% endblock %}

{% block auth_links %}

    <li class="list-inline-item">
        <a href="{{ url_for_security('forgot_password') }}" class="text-decoration-none">{{ _fsdomain('Reset Password') }}</a>
    </li>
    {% if config["SECURITY_CONFIRMABLE"] %}
        <li class="list-inline-item"><a href="{{ url_for_security('send_confirmation') }}" class="text-decoration-none">{{ _fsdomain('Resend Registation Info') }}</a></li>
    {% endif %}
    <li class="list-inline-item"><a href="{{ url_for_security('register') }}" class="text-decoration-none">{{ _fsdomain('Register Account') }}</a></li>

{% endblock %}
